.container {
  margin-bottom: 80px;
}

.orange-bg {
  background-color: #feeae9;
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.buy-now-button {
  /* background-color: #ff136f; */
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border-radius: 8px;
  padding: 9px 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.watch,
.bag,
.shoesC {
  padding: 10px 30px;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.watch {
  background-color: orange;
}

.bag {
  background-color: orchid;
}

.shoesC {
  background-color: rgb(30, 30, 245);
}

.catagories img {
  width: 100px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
  background-color: #fff;
  border-top: none;
}
